@import 'base/variables';
@import 'base/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://db.onlinewebfonts.com/c/dd3342d2bdd395ac6f0bd31d4426b9fe?family=Intro+Demo+Black+Caps');



*{
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 1304px;
    margin: 0 auto;
    &__wrapper{
        display: flex;
        column-gap: 65px;
    }
}


@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/services';
@import 'blocks/about';
@import 'blocks/start';
@import 'blocks/request';
@import 'blocks/footer';
@import 'blocks/media';


a{
    transition: all 0.6s;
    &:hover{
        color: $dark-green-color;
    }
}

