.skills{
    padding-top: 120px;
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px); 
        grid-template-rows: repeat(2, 270px);
        gap: 13px;

    }
    &__item{
        padding: 30px;
        border: 2px solid #00000063;
        &-title{
            font-weight: 700;
            margin: 20px 0 15px 0;
        }
        &-descr{
            font-size: 12px;
            font-weight: 500;
        }
        &-icon{
            height: 100px;
            height: 65px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            img{
                height: 65px;
                width: 130px;
            }
            
        }
    }
    &__statistics{
        padding-top: 120px;
        &-wrapper{
            display: grid;
            grid-template-columns: repeat(3, 350px);
            grid-template-rows: repeat(2, 40px);
            column-gap: 45px;
            row-gap: 60px;
        }
        &-scale{
            width: 350px;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            span{
                display: block;
                background-color: $main-color;
                height: 100%;
                border-radius: 4px;
            }
        }
        &-descr{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
        }
        &-title{
            padding-left: 14px;
            position: relative;
            @include before_circle;
            &:before{
                content: '';
                top: -8px;
            }

        }
    }
}