
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@100;300;400;500;900&family=Roboto:wght@300;400&display=swap');

@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-Thin.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-Thin.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-Thin.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-ThinItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-ExtraLight.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-ExtraLightItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-Light.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-LightItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-Regular.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-Italic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-Medium.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-MediumItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-SemiBold.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-Bold.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-BoldItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-BoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-ExtraBold.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-ExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Montserrat/webfonts/Montserrat-Black.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-Black.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Montserrat/webfonts/Montserrat-BlackItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/webfonts/Montserrat-BlackItalic.woff") format("woff");
}




@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-Bold.eot');
    src: local('Brandon Grotesque Bold'), local('BrandonGrotesque-Bold'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Bold.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-Light.eot');
    src: local('Brandon Grotesque Light'), local('BrandonGrotesque-Light'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Light.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-Black.eot');
    src: local('Brandon Grotesque Black'), local('BrandonGrotesque-Black'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Black.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-Medium.eot');
    src: local('Brandon Grotesque Medium'), local('BrandonGrotesque-Medium'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Medium.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-ThinItalic.eot');
    src: local('Brandon Grotesque Thin Italic'), local('BrandonGrotesque-ThinItalic'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-ThinItalic.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-Thin.eot');
    src: local('Brandon Grotesque Thin'), local('BrandonGrotesque-Thin'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Thin.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-LightItalic.eot');
    src: local('Brandon Grotesque Light Italic'), local('BrandonGrotesque-LightItalic'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-LightItalic.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-Regular.eot');
    src: local('Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Regular.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-RegularItalic.eot');
    src: local('Brandon Grotesque Regular Italic'), local('BrandonGrotesque-RegularItalic'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-RegularItalic.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-BoldItalic.eot');
    src: local('Brandon Grotesque Bold Italic'), local('BrandonGrotesque-BoldItalic'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-BoldItalic.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon Grotesque/BrandonGrotesque-BlackItalic.eot');
    src: local('Brandon Grotesque Black Italic'), local('BrandonGrotesque-BlackItalic'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-BlackItalic.woff') format('woff'),
        url('../fonts/Brandon Grotesque/BrandonGrotesque-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


.text{
    &-base{
        color: #2A2D34;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
    &-2xl{
        color: var(--Dark-Gray, #2A2D34);
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 800;
        line-height: 26px; /* 108.333% */
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
    &-4xl{
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 800;
        line-height: 36px; /* 100% */
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
    &-5xl{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
}
