.contact-us {
    margin-top: 100px;
    min-height: 761px;

    &__wrapper {
        display: grid;
        grid-template-columns: 399px 740px;
        column-gap: 100px;
    }

    &__descr {
        &-title {
            margin-bottom: 40px;
        }

        &-block {
            color: var(--Dark-Gray, #2A2D34);
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;

            /* 150% */
            strong {
                color: var(--Dark-Gray, #2A2D34);
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
            }

            a {
                color: var(--Dark-Gray, #2A2D34);
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                text-decoration-line: underline;
                transition: 0.2s all;
                &:hover{
                    transition: 0.2s all;
                    opacity: 0.8;
                }
            }
        }

    }

    &__form {
        display: grid;
        grid-template-rows: repeat(3, 80px) 230px 51px;
        gap: 40px;
        width: 100%;

        &-wrapper {
            display: flex;
            column-gap: 40px;
        }

        label {
            margin-bottom: 10px;
        }

        label,
        input {
            color: var(--Gray-3, #484848);
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.6px;
            text-transform: uppercase;

            span {
                color: var(--Action-Orange, #EC633F);
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 1.6px;
                text-transform: uppercase;
            }
        }

        input,
        select,
        textarea,
        option {
            height: 50px;
            border-radius: 4px;
            border-radius: 4px;
            border: 1px solid var(--Light-Gray, #CCD2DD);
            background: rgba(204, 210, 221, 0.10);
            padding: 10px 23px;
            color: var(--Medium-Gray, #5D636F);
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            transition: 0.3s all;
            outline: none;

            &:focus {
                transition: 0.3s all;
                box-shadow: 0px 10px 20px 0px rgba(101, 108, 125, 0.2);
            }
        }

        select {
            appearance: none;
        }

        textarea {
            height: 200px;
            resize: none;
        }


        &-name,
        &-phone {
            grid-row: 1/2;
        }

        &-email,
        &-reason,
        &-message,
        &-btn {
            grid-column: 1/3;
        }

        &-name,
        &-phone,
        &-email,
        &-reason,
        &-message {
            display: flex;
            flex-direction: column;
        }

        &-reason {
            position: relative;
            svg {
                position: absolute;
                top: 39px;
                right: 17px;
                transition: 0.3s all;
                pointer-events: none; 
                &.active {
                    transition: 0.3s all;
                    transform: rotate(180deg);
                }
            }

        }



    }


}