@media (max-width:1430px) {
    .container {
        max-width: 960px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;

        &__list {
            position: absolute;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 86px;
            padding-left: 40px;
            padding-top: 20px;
            padding: 20px 20px 20px 40px;
            left: -100%;
            gap: 40px;
            transition: 0.6s all;

            ul {
                flex-direction: column;
                gap: 40px;

            }

            min-height: 100vh;
            background-color:white;
            width: 100%;
            height: 100%;
        }

        .hamburger {
            display: flex;
        }
    }

    .about {
        &__triangles {
            img {
                max-height: 100%;
                min-height: 900px;
            }
        }

        &__danco {
            padding: 0 10px;
        }

        &__circle {
            right: 50px;
            top: 86px;
        }

        &__two-triangle {
            img {
                &:nth-child(2) {
                    width: 100%;
                }
            }

        }
    }

    .roof-types {
        padding-top: 140px;

        &__wrapper {
            flex-wrap: wrap;

        }

        &__item {
            width: 35%;
            margin-bottom: 40px;

            img {
                height: 200px;
            }
        }
    }

    .footer {
        padding-top: 0;

        &__rectangle {
            top: 3px;
            left: -90px;
        }

        &__list {
            padding: 10px 24px 0 0;
        }
    }

    .hero {
        &__wrapper {
            column-gap: 32px;
        }

        &__descr {
            margin-bottom: 40px;
            margin-left: 45px;
        }

        img {
            max-height: 500px;
            width: 50%;
        }
    }

    .sales {
        padding: 52px 32px 32px 45px;

        &__contact {
            width: 640px;
        }
    }

    .team {
        &__descr {
            flex-wrap: wrap;

            &-title {
                margin-bottom: 10px;
                width: 100%;
            }
        }

        &__wrapper {
            justify-content: center;
        }

    }

    .safety-and-stats {
        &__header-stats {
            flex-wrap: wrap;
        }

        &__photo {
            bottom: 40px;

            img {
                width: 90%;
            }
        }
    }

    .contact-us {
        &__wrapper {
            grid-template-columns: 299px 558px;
        }
    }

    .careers-info {
        &__wrapper {
            column-gap: 32px;
            align-items: flex-end;
        }

        &__descr {
            margin-bottom: 40px;
            margin-left: 45px;
        }

        img {
            max-height: 500px;
            width: 50%;
        }
    }
    .project-view{
        &__introduction{
            column-gap:50px;
            img{
                max-height: 500px;
                width: 50%;
            }
        }
        &__details{
            column-gap:50px;
            &-review{
                width: 430px;
            }
        }
    }
    .additional-info{
        &__header-stats {
            flex-wrap: wrap;
        }

        &__photo {
            padding: 0 20px;
            bottom: 40px;
            img {
                width: 90%;
            }
        }
    }
    .project-preview{
        &__details{
            column-gap:50px;
           
        }
        
    }
}

@media(max-width:992px) {
    .container {
        max-width: 720px;
    }

    .careers {
        &__wrapper {
            width: 100%;
        }
    }

    .about {
        min-height: 1000px;

        .container {
            width: 97%;
        }

        min-height: 1150px;

        &__wrapper {
            align-content: center;
            flex-wrap: wrap;
        }

        &__circle {
            right: 0;
        }

        &__triangles {
            img {
                min-height: 660px;
            }

        }

        &__triangle {
            &-blue {
                &:nth-child(1) {
                    top: auto;
                    bottom: 115px;
                }

                &:nth-child(2) {
                    top: auto;
                    bottom: 115px;
                }
            }

            &-white {

                &:nth-child(3) {
                    top: auto;
                    bottom: 0;
                }

                &:nth-child(4) {
                    top: auto;
                    bottom: 0;
                }
            }

        }

        &__two-triangle {
            img {
                &:nth-child(1) {
                    width: 50%;
                    height: auto;
                }

                &:nth-child(2) {
                    width: 100%;
                }
            }

        }

    }

    .roof-types {
        &__wrapper {
            padding: 20px;
            justify-items: center;

        }

        &__item {
            width: 40%;

            &-photo {
                height: auto;
            }
        }


    }

    .projects {
        &__item {
            &-front {
                width: 100%;
            }

            &-back {
                width: 100%;
            }
        }

    }

    .roofing-services {
        &__wrapper {
            flex-direction: column;

        }

        &__slider,
        &__apply {
            width: 100%;
        }
    }

    .footer {
        min-height: 542px;

        &__wrapper {
            margin-top: 20px;
            padding: 0;
            flex-wrap: wrap;
            align-content: flex-end;
        }

        &__list {
            width: 80%;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &__rectangle {
            top: 96px;
            left: -302px;

            &-items {
                left: 24%;
                top: 51%;
            }
        }

        &__copyright {
            padding-right: 115px;
        }
    }

    .hero {
        img {
            max-height: 300px;
        }
    }

    .sales {
        &__wrapper {
            flex-wrap: wrap;
        }

        &__contact {
            margin-bottom: 10px;
        }
    }

    .team {
        &__descr {
            padding: 0 50px;
        }

        &__item {
            width: 339px;
        }
    }

    .safety-and-stats {
        &__header {
            flex-wrap: wrap;

            &-stats {
                padding-top: 0;
                margin-bottom: 40px;
            }

            &-block {
                padding-left: 0;
            }

        }

        &__photo {
            position: static;
        }

    }

    .contact-us {
        &__wrapper {
            grid-template-columns: 100%;
        }
    }

    .careers-info {
        img {
            max-height: 300px;
        }
    }
    .job-openings{
        &__item{
            &-descr{
                width: 480px;
            }
        }
    }
    .projects-list, .tpo-this{
        &__item{
            &-descr{
                padding: 50px 32px 50px 50px;
            }
        }
    }
    .project-view{
       
        &__details{
            &-review{
                width: 306px;
            }
        }
        &__gallery{
            justify-content: center;
            padding: 0;
        }
    }
    .additional-info {
        &__header {
            flex-wrap: wrap;

            &-stats {
                padding-top: 0;
                margin-bottom: 40px;
            }

            &-block {
                padding-left: 0;
            }

        }

        &__photo {
            position: static;
        }

    }
    .projects-list-mini{
        &__item{
            &-descr{
                padding: 50px 32px 50px 50px;
            }
        }
    }
    .project-preview{
        &__details{
            flex-wrap: wrap;
            flex-direction: column-reverse; 
        }
        &__gallery{
            justify-content: center;
            padding: 0;
        }
    }

}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .text {
        &-4xl {
            font-size: 28px;
        }
    }

    .about {
        &__triangles {
            img {
                min-height: 495px;
                top: -495px;
            }
        }

        &__circle {
            width: 430px;
            height: 430px;

            &-badge {
                height: 80px;
                width: 80px;

                svg {
                    height: 80px;
                    width: 80px;
                }

                &:nth-child(1) {
                    left: -30px;
                }

                &:nth-child(2) {
                    left: 30px;
                }

                &:nth-child(3) {
                    right: 30px;
                }

                &:nth-child(4) {
                    right: -30px;
                }

                &:nth-child(5) {
                    top: -30px;
                }

            }

            &-descr {
                left: 53%;

                &-subtitle {
                    font-size: 13px;
                }

                &-title {
                    font-size: 13px;
                }

                &-descr {
                    font-size: 13px;
                }
            }
        }

    }

    .roof-types {
        &__item {
            width: 46%;
        }
    }

    .footer {
        padding: 0;
        min-height: 750px;

        &__wrapper {
            position: static;
        }

        &__list {
            padding: 0 20px;
            width: 100%;
            gap: 35px;
            justify-content: left;
        }

        &__rectangle {
            position: relative;
            top: 0;
            left: -90px;
        }
    }

    .hero {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__descr {
            margin: 100px 30px 40px 30px;
        }
        img{
            width: 100%;
            max-height: none;
        }
       
    }

    .sales {
        padding: 52px 32px 32px 30px;

        &__contact {
            width: 100%;
            margin-bottom: 60px;

        }
    }

    .team {
        &__item {
            width: 386px;
        }
    }

    .quote {
        padding-top: 100px;
        min-height: 582px;
        &__main-quote {
            width: 500px;
        }
    }

    .safety-and-stats {
        &__header {
            padding: 0;
        }

        &__photo {
            img {
                width: 100%;
            }
        }
    }

    .contact-us {
        &__wrapper {

            justify-items: center;
        }

        &-form {
            gap: 25px;
        }
    }

    .careers-info {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__descr {
            margin: 100px 30px 40px 30px;
        }
    }
    .job-openings{
        &__item{
            &-descr{
                width: 300px;
            }
        }
    }
    .projects-list{
        &__item{
            flex-direction: column;
            &:nth-child(even){
                flex-direction: column;
            }
            &-descr,img{
                width: 100%;
            }
            

        }
    }
    .project-view{
        &__introduction{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            &-info{
                margin-bottom: 50px;
            }
            img{
                width: 100%;
            }
        }
        &__details{
            flex-wrap: wrap;
            justify-content: center;
            &-list{
                margin-bottom: 20px;
            }
        }

    }
    .additional-info {
        &__header {
            padding: 0;
        }

        &__photo {
            padding: 0;
            img {
                width: 100%;
            }
        }
    }
    .projects-list-mini{
        &__item{
            flex-direction: column;
            &:nth-child(odd){
                flex-direction: column;
            }
            &-descr,img{
                width: 100%;
            }
            

        }
    }

    .project-preview{
        &__details{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            &-info{
                margin-bottom: 50px;
            }
            img{
                width: 100%;
            }
        }

    }
    .tpo-this{
        &__item{
            flex-direction: column;
            &:nth-child(even){
                flex-direction: column;
            }
            &-block,img{
                width: 100%;
            }
            

        }
    }
   
}

@media (max-width:576px) {

    .container {
        max-width: 100%;
    }

    .text {
        &-4xl {
            font-size: 24px;
        }

        &-5xl {
            font-size: 32px;
        }
    }

    .header {
        padding: 17px 13px;

        svg {
            width: 130px;
            height: 70px;
        }
    }

    .about {
        min-height: 900px;

        .container {
            width: 100%;
        }

        &__triangles {
            img {
                min-height: 310px;
                top: -309px;
            }
        }

        &__triangle {
            &-blue {
                &:nth-child(1) {
                    bottom: 100px;
                }

                &:nth-child(2) {
                    bottom: 100px;
                }
            }
        }

        &__two-triangle {
            img {
                &:nth-child(1) {
                    width: 70%;
                    height: auto;
                }

                &:nth-child(2) {
                    width: 100%;
                }
            }

        }

        &__danco {

            &-descr,
            &-ref {
                font-size: 16px;
            }
        }

        &__circle {
            top: 170px;
            height: 332px;
            width: 332px;
            font-size: 11px;

            &-descr {
                left: 57%;

                &-subtitle,
                &-title,
                &-descr {
                    font-size: 11px;
                }

                &-descr {
                    width: 234px;
                }
            }

            &-badge {
                height: 60px;
                width: 60px;

                svg {
                    height: 60px;
                    width: 60px;

                    &:nth-child(3) {
                        height: 100px;
                        width: 100px;
                    }
                }

                &:nth-child(1) {
                    left: 0;
                    top: 11%;
                }

                &:nth-child(2) {
                    left: 17px;
                }

                &:nth-child(3) {
                    right: 17px;
                }

                &:nth-child(4) {
                    top: 11%;
                    right: 0px;
                }

                &:nth-child(5) {
                    top: -30px;
                }

            }
        }
    }


    .projects {
        &__item {
            min-height: 600px;

            &-front {
                &-title {
                    font-size: 32px;
                }
            }
        }
    }

    .roof-types {
        &__item {
            width: 100%;
        }
    }

    .roofing-services {
        &__apply {
            padding: 115px 20px 90px 20px;

            &-descr {
                width: 100%;
            }
        }
    }

    .footer {
        &__rectangle {
            &-items {
                left: 41%;
            }
        }

        &__copyright {
            padding-right: 10px;
        }
    }

    .team {
        &__descr {
            padding: 0 15px;
        }

        &__wrapper {
            padding: 0 10px;
        }
    }

    .quote {
        &__main-quote {
            width: 100%;
            font-size: 28px;
            padding: 0 15px;
        }
    }

    .safety-and-stats {
        padding: 35px;
    }

    .join-the-team {
        padding: 179px 20px;

        &__descr {
            width: 100%;
        }
    }
    .map{
        &__wrapper{
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 155px 300px 0 0;
                border-color: white transparent transparent transparent;
            }
            &::after{
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 0 0 155px 300px;
                border-color: transparent transparent white transparent;
            }
        }
    }

    .contact-us {
        &__wrapper {
            gap: 30px;
            padding: 0 10px;
        }

        &__form {
            grid-template-rows: repeat(4, 80px) 230px 51px;

            &-name {
                grid-row: 1/2;
                grid-column: 1/3;
            }

            &-phone {
                grid-row: 2/3;
                grid-column: 1/3;

            }
        }
    }
    .job-openings{
        padding: 100px 10px 60px 10px;
        &__item{
            flex-wrap: wrap;
            &-descr{
                width: 300px;
                margin-bottom: 20px;
            }
        }
    }
    .projects-header,.all-the-modules-header{
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 155px 300px 0 0;
            border-color: white transparent transparent transparent;
        }
        &::after{
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 0 155px 300px;
            border-color: transparent transparent #CCD2DD transparent;
        }
    }
    .project-view{
        padding: 0 20px;
        &__details{
            &-review{
                width: 100%;
            }
        }
    }
    .additional-info {
        padding: 0 20px;
    }
    .projects-notation{
        padding: 0 20px;
        &__block{
            width: 100%;
        }
    }

    .project-preview{
        padding: 0 20px;
        &__details{
            &-review{
                width: 100%;
            }
        }
    }

    .tpo-this{
        &__item{
            &-block, img{
                padding: 20px;
                margin-bottom: 20px;
            }
        }
        &__gallery{
            padding: 0 20px;
        }
    }
    
}