.projects-list-mini{
    &__item{
        display: flex;
        &:nth-child(odd){
            flex-direction: row-reverse;
        }
        &-descr{
            padding: 100px 82px 100px 100px;
            width: 50%;
            &-subtitle{
                color: var(--Gray-3, #484848);
                font-family: 'Montserrat',sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.9px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            &-title{
                color: var(--Black, #222);
                font-family: 'Brandon Grotesque';
                font-size: 42px;
                font-style: normal;
                font-weight: 900;
                line-height: 50px; /* 119.048% */
                margin-bottom: 30px;
            }
            &-info{
                color: var(--Gray-3, #484848);
                font-family: 'Montserrat',sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                margin-bottom: 21px;
            }
            &-read-more{
                color: var(--Danco-Blue, #264584);
                font-family: 'Montserrat',sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: 26px; /* 144.444% */
                text-transform: uppercase;
                a{
                    color: var(--Danco-Blue, #264584);
                    display: flex;
                    align-items: center;
                    column-gap: 11px;
                    transition: 0.3s all;
                    &:hover{
                        translate: 0.3s all;
                        opacity: 0.8;
                    }
                }
            }
        }
        img{
            width: 50%;
            object-fit: cover;
        }
       
    }
}