.title{
    font-family: "Intro Demo Black Caps";
    font-weight: 900;
    &_fz20{
        font-size: 20px;
    }
    &_fz32{
        font-size: 32px;
    }
    &_fz44{
        font-size: 44px;
        
    }
}